/* You can add global styles to this file, and also import other style files */
.container{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(240, 227, 248);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(136, 136, 136, 0.144) 2px 1px 6px 2px;
}
.btn{
    padding: 12px;
    box-shadow: rgba(190, 189, 189, 0.801) 2px 5px 6px 2px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
}
